{% extends "IOTApp/base.html" %}
{% block content %}

<div>
<div class="frame">
    <iframe id="chart_dht"  src="chart_dht" 
    style="border:none;" height="100%" width="30%" align="left" ></iframe>
</div>

<div class="frame">
    <iframe id="chart_fire"  src="chart_fire" 
    style="border:none;" height="100%" width="30%" align="left" ></iframe>
</div>

<div class="frame">
    <iframe id="chart_light"  src="chart_light" 
    style="border:none;" height="100%" width="30%"  align="left" ></iframe>
</div>
</div>

{% endblock %}